* {
  font-size: 16px;
  line-height: 2;
}

.hide {
  display: none;
}
.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
#search-div{
  position: relative;
}

#match-list{
  position: absolute;
  top: 36.5px;
  left: 0;
  right: 0; 
  z-index: 11;
}

.nav-link, .fas, .fab, #api-img, .list-group-item{
  cursor: pointer;
}


::-webkit-scrollbar {
  display: none;
}

#results-table {
  overflow-y: auto;
  height: 200px;
}

#results-table table {
  border-collapse: collapse;
  width: 100%;
}

#results-table th,
#results-table td {
  padding: 8px 16px;
}

#results-table th {
  position: sticky;
  top: 0;
  background: white;
  border: white;
  z-index: 10;
}

.fa-trash-alt{
  color: rgb(168, 65, 65);
}

.form-control:focus {
  border-color: #17a2b8;
  box-shadow: 0 0 0 0.2rem rgba(64, 198, 218, 0.25);
}

#actions-th{
  width:80px
}

#user-btn,
#delete-query-btn{
  background-color: rgb(168, 65, 65); 
  border-color: rgb(168, 65, 65);
  box-shadow: 0 0 0 0.2rem rgba(168, 65, 65, 0.25);
}

.fa-linkedin{
  color: #0e76a8;
}
.footer{
  color: white;
}