* {
  font-size: 16px;
  line-height: 2;
}

.hide {
  display: none;
}
.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
#search-div{
  position: relative;
}

#match-list{
  position: absolute;
  top: 36.5px;
  left: 0;
  right: 0; 
}

.nav-link{
  cursor: pointer;
}