<div class="text-center">
  <h5 class="mt-2">Description</h5>
  <p>A single-page web application that uses machine learning models to predict real estate prices in Japan.</p>

  <h5 class="mt-3">Technologies Used</h5>
  <p> Python/Flask, PostgreSQL,
    SQLAlchemy, Heroku, Jinja, RESTful APIs, JavaScript, HTML, CSS</p>
  <div class="mt-5">
    <i class="fab fa-github fa-2x"></i>&nbsp;
    <i class="fab fa-linkedin fa-2x"></i>
  </div>

  <h5 class="mt-4">Data API</h5>
  <img id="api-img" src="/static/img/data_source.png" width="200">
  </a>


</div>