<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="https://kit.fontawesome.com/97a0c30ba9.js" crossorigin="anonymous"></script>
  <title>Yosoku {% block title%}{% endblock%}</title>

</head>


<nav class="navbar fixed-top navbar-dark bg-dark">
  <a class="navbar-brand mx-5" href="#">
    <img src="/static/img/icon_static.png" width="30" height="30" class="d-inline-block align-top" alt="">
  </a>
  <span class="navbar-text mx-5">
    Real Estate Price Predictions in Japan
  </span>
  <span class="navbar-text mx-5 btn">
    <a href="#">Login</a> /
    <a href="#">Sign Up</a>
  </span>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<body>
  {% block content%}
  {% endblock %}
  {% block scripts %}
  {% endblock scripts %}
</body>
<footer class="page-footer bg-dark">
  <div class="footer-copyright text-center py-3 bg-dark text-white">© 2020 Copyright:
  </div>
</footer>

</html>