{% extends 'base.html' %}
{% block title %}| Home {% endblock %}
{% block content %}

<div class="container mt-5">
  <form id="search-form" action="/" method="POST">
    {{ form.hidden_tag() }}

    <div class="row">
      <div id="search-div" class="input-group">

        {% for field in form
          if field.widget.input_type != 'hidden' %}

        {{ field(class_="form-control", placeholder="Search for a city ...") }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
        {% endfor %}

        <div id="match-list"></div>
        <div class="input-group-append">
          <a id="filter-btn" type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#filter-modal">
            Filters
          </a>
        </div>
      </div>
  </form>
</div>

<div id="table-wrapper" class="mt-5">
  <div id="results-table" class="row">
  </div>
</div>
</div>

<div class="map-responsive mt-5">
  <iframe id="map" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Tokyo"
    frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<!-- Filter Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Filters</h5>
        <button type="button" class="close" data-dismiss="modal">
          x</button>
      </div>
      <div id="filter-modal-body" class="modal-body">
        <div id="loading">
          <p class="text-center"> Training Models</p>
          <p class="text-center"><img src="/static/img/loading_icon.gif"></p>
          <p class="text-center"> Please wait!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Filter Modal -->

<!-- Login Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal">
          x</button>
      </div>
      <div id="login-modal-body" class="modal-body">
      </div>
    </div>
  </div>
</div>
<!-- Login Modal -->

<!-- Signup Modal -->
<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="filterModalLabel">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal">
          x</button>
      </div>
      <div id="signup-modal-body" class="modal-body">
      </div>
    </div>
  </div>
</div>
<!-- Signup Modal -->

<!-- Logout Modal -->
<div class="modal fade" id="logout-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">x
        </button>
      </div>
      <div id="logout-modal-body" class="modal-body">

      </div>
    </div>
  </div>
</div>
<!-- Logout Modal -->

<!-- Loading Modal -->

<button id="loading-modal-btn" type="button" class="btn btn-primary hide" data-toggle="modal"
  data-target="#loading-modal">
</button>


<div class="modal fade" id="loading-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="loading">
          <p class="text-center"> Training Models</p>
          <p class="text-center"><img src="/static/img/loading_icon.gif"></p>
          <p class="text-center"> Please wait!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Loading Modal -->

{% endblock %}
{% block scripts %}
<script type="text/javascript" src="/static/js/search.js"></script>
{% endblock scripts %}