{% extends 'base.html' %}
{% block title %}| Home {% endblock %}
{% block content %}

<div class="container mt-5">
  <div id="search-form">
    {{ form.hidden_tag() }}

    <div class="row">
      <div id="search-div" class="input-group">

        {% for field in form
          if field.widget.input_type != 'hidden' %}

        {{ field(class_="form-control", placeholder="Search for a city ...") }}
        {% endfor %}

        <div id="match-list"></div>
        <div class="input-group-append">
          <a id="filter-btn" type="button" class="btn btn-outline-info">
            Filters
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="table-wrapper" class="mt-5">
    <div id="results-table" class="row">
    </div>
  </div>
</div>

<div class="map-responsive mt-5">
  <iframe id="map" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDr-I9Ih80K5CZG7jG2thJ0ed6P9zRKTuc&q=Tokyo"
    frameborder="0" style="border:0" allowfullscreen></iframe>
</div>


<!-- Loading Modal -->
<button id="loading-modal-btn" type="button" class="btn btn-primary hide" data-toggle="modal"
  data-target="#loading-modal">
</button>
<div class="modal fade" id="loading-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div id="loading" class="text-center">
          <h2> Training Models</h2>
          <img src="/static/img/loading_icon.gif">
          <h6> Please wait!</h6>
          <small>This could take few minutes for bigger cities</small>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Loading Modal -->

<!--Modal -->
<button id="modal-btn" type="button" class="btn btn-primary hide" data-toggle="modal" data-target="#modal">
</button>
<div class="modal fade" id="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modal-title" class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal">
          x</button>
      </div>
      <div id="modal-body" class="modal-body">
      </div>
    </div>
  </div>
</div>
<!--Modal -->

{% endblock %}
{% block scripts %}
{% endblock scripts %}