{% extends 'base.html' %}
{% block title %}| Predict {% endblock %}
{% block content %}

<!-- <form id="filter-form" class="mt-5" action="/predict" method="POST">
  {{ form.hidden_tag() }}

  {% for field in form
         if field.widget.input_type != 'hidden' %}

  <p>
    {{ field(class_="form-control") }}

    {% for error in field.errors %}
    {{ error }}
    {% endfor %}
  </p>

  {% endfor %}
  <button id="filter-form-submit" type="submit" class="btn btn-primary btn-block">Predict Price</button>
</form> -->
<div id="price-prediction"></div>
<div class="container mt-5">
  <div class="row">
    <div class="input-group">
      <form id="search-form" class="mt-4" action="/" method="POST">
        {{ search_form.hidden_tag() }}

        {% for field in search_form
               if field.widget.input_type != 'hidden' %}

        <p>
          {{ field(class_="form-control", placeholder="Search for a city ...") }}

          {% for error in field.errors %}
          {{ error }}
          {% endfor %}
        </p>

        {% endfor %}
        <div id="match-list" class="list-group"></div>
      </form>
      <div class="input-group-append">
        <button class="btn btn-outline-info" type="button" data-toggle="modal"
          data-target="#exampleModal">Filters</button>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table table-hover mt-5">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Location</th>
          <th scope="col">Type</th>
          <th scope="col">Area m2</th>
          <th scope="col">Layout</th>
          <th scope="col">Price Estimate</th>
          <!-- <th scope="col">Comment</th>
          <th scope="col">Actions</th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Shinagawa</td>
          <td>Pre-owned Condominiums, etc.</td>
          <td>120</td>
          <td>2LDK</td>
          <td>￥25,000,000</td>
          <!-- <td>Far away from work</td>
          <td><a href="#"><i class="fas fa-edit"></i></a> <a href="#"><i class="fas fa-trash-alt"></i></a> </td> -->
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Shinagawa</td>
          <td>Pre-owned Condominiums, etc.</td>
          <td>150</td>
          <td>4LDK</td>
          <td>￥30,000,000</td>
          <!-- <td>-</td>
          <td><a href="#"><i class="fas fa-edit"></i></a> <a href="#"><i class="fas fa-trash-alt"></i></a> </td> -->
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Nagoya</td>
          <td>Residential Land(Land and Building)</td>
          <td>150</td>
          <td>-</td>
          <td>￥23,000,000</td>
          <!-- <td></td>
          <td><a href="#"><i class="fas fa-edit"></i></a> <a href="#"><i class="fas fa-trash-alt"></i></a> </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="map-responsive mt-5">
  <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Shinagawa"
    frameborder="0" style="border:0" allowfullscreen></iframe>
</div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Filters</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group mt-3">
            <select id="floor_layout" class="form-control">
              <option selected>Choose a type...</option>
              <option>Pre-owned Condominiums, etc.</option>
              <option>Residential Land(Land Only)</option>
              <option>Residential Land(Land and Building)</option>
            </select>
          </div>
          <div class="form-row">

            <div class="form-group col-md-6">
              <input type="text" class="form-control" id="area" placeholder="Input area">
            </div>
            <div class="form-group col-md-6">
              <select id="floor_layout" class="form-control">
                <option selected>Layout...</option>
                <option>1DK</option>
                <option>2LDK</option>
                <option>3K</option>
                <option>4LDK</option>
                <option>5LDK</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info">Predict Price</button>
      </div>
    </div>
  </div>
</div>



{% endblock %}
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" src="/static/js/predict.js"></script>
<script src="https://kit.fontawesome.com/97a0c30ba9.js" crossorigin="anonymous"></script>

{% endblock scripts %}