<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Location</th>
      <th scope="col">Type</th>
      <th scope="col">Area m2</th>
      <th scope="col">Layout</th>
      <th scope="col">Price Estimate</th>
      {% if g.user %}
      <th scope="col">Comment</th>
      <th scope="col">Actions</th>
      {% endif %}
    </tr>
  </thead>

  <tbody>
    {% for result in results %}
    <tr>
      <td>{{result.location}}</td>
      <td>{{result.type_}}</td>
      <td>{{result.area}}</td>
      <td>{{result.layout}}</td>
      <td>{{result.price_estimate}}</td>
      {% if g.user %}
      <td>{{result.comment}}</td>
      <td><a href="#"><i class="fas fa-edit"></i></a> <a href="#"><i class="fas fa-trash-alt"></i></a> </td>
      {% endif %}
      {% endfor %}
    </tr>
  </tbody>
</table>